* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f2f2;
  text-decoration: none;
  -webkit-border-radius: none;
  appearance: none;
  border-radius: 0;
}

input[type=checkbox]:checked:before {
  content: "✓";
  left: 4px;
  top: 0px;
  position: absolute;
}

/* bogue à redéfinir juste pour cette checkbox */
#dataProtectionCheckbox:checked:before {
  content: "✓";
  left: 4px;
  top: 0px;
  position: absolute;
}

body {
  font-family: Pragmatica, sans-serif;
  font-weight: light;
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


a {
  width: 100%;
  color: #1C1B1B;
}

.thanks {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-image: url(lookbook.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}

.logo {
  margin: 16px 0;
}

.logo img {
  width: 266px;
  height: 66px;
}

.language-switch  { 
  position: relative;
  margin-right: 30px;
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-family: Pragmatica, sans-serif;
}

.language-underline {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 20px;
  height: 2px;
  background-color: #1C1B1B;
  transition: 0.25s ease-in-out;
}

form {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.form-field {
  display: block;
  position: relative;
  width: -webkit-fill-available;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #D0CECE;
  font-size: 16px;
}

input::placeholder {
  font-size: 12px;
  padding-left: 8px;
}

.short {
  width: 48.85%;
}

.communication {
  margin: 42px 0;
}

.communication > p {
  font-size: 14px;
}

.checkbox {
  position: relative;
  block-size: 16px;
}

.checkbox-display {
  display: flex;
  gap: 24px;
}

.checkbox-label {
  position: relative;
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.data-protection > .checkbox-label {
  width: 100%;
}

.checkbox-label > input{
  width: auto;
}

.checkbox-label > label {
  display: inline-block;
  position: relative;
  top: 0;
  left: 8px;
  font-size: 14px;
}

label {
  display: block;
  position: absolute;
  top: 10px;
  left: 16px;
  color: #1C1B1B;
  pointer-events: none;
}

.clickable {
  pointer-events: all;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #D0CECE;
  font-size: 16px;
  font-family: Pragmatica, sans-serif;
  font-weight: light;
  color: #1C1B1B;
}  

.button {
  display: block;
  width:100%;
  padding: 18px;
  background-color: #1C1B1B;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
}

.form-field input:focus-visible + input{
  border: 1px solid #D0CECE;
  border-radius: 0px;
}

.form-field input:focus-visible + label {
  top: -10px;
  background-color: #f5f2f2;
  padding: 5px;
  font-size: 12px;
}

.to-hide-date {
  display: block;
  position: relative;
  width: -webkit-fill-available;
}

.to-hide-date input {
  box-sizing: border-box;
  outline: 0;
  position: relative;
  width: 100%;
  height: 40px;
  font-family: Pragmatica, sans-serif;
  font-weight: light;
  padding-left: 16px;
}

.to-hide-date label {
  background-color: #f5f2f2;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  appearance: none;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

@media screen and (max-width: 755px){
  .short {
    width: -webkit-fill-available;
  }
}
